env
venv
.venv
config.env
CONFIG/config.env
.env
.vscode
transaction/*.json
CONFIG/config.env
.claude/
*.gch
copy_paste_log_from_rpi.txt
*.o
*.log
*.aux
*.exe
*.cpp.save
*.h.save
*.pyc
iot_dispenser_v2/main_gui
sabon_express_dispenser-main/
bin/
coin_slot/main
iot_dispenser_v2/main_gui
**/__pycache__/
**/venv/
**/node_modules/
*.o
*.pyc
.superdesign
coin_slot/tests/tmp_transaction/
coin_slot/tests/test_runner
